body {
    text-align: center;
}
#Av {
    height: 500px;
}

img {
    width: 200px;

}

#Aven {
    width: 100%;
}

#thans {
    height: 113px;
}

#cris {
    height: 113px;
}

#dst {
    height: 113px;
}

#grt {
    height: 113px;
}

#myCarousel {
    height: 200px;
}
#gg {
    height: 100%;
}
#Groot {
    height: 140px;
}
#thor {
    height: 140px;
}
#thanod {
    height: 140px;
}
#lohaman {
    height: 140px;
}
#hulk {
    height: 140px;
}
#kalapanther {
    height: 140px;
}
#cp {
    height: 140px;
}
